<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895292368217-nvoamfbojlms3t3g3ajk4623f764t8rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895292368217-nvoamfbojlms3t3g3ajk4623f764t8rf</string>
	<key>API_KEY</key>
	<string>AIzaSyAUMnBtgsP0nH_mtZDJlm11GZKJ128odFo</string>
	<key>GCM_SENDER_ID</key>
	<string>895292368217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lerma.DesignCodeProject</string>
	<key>PROJECT_ID</key>
	<string>designcode-swiftuicourse-e4cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-swiftuicourse-e4cfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895292368217:ios:883af75a6833517efe1848</string>
</dict>
</plist>